@page "/server/{ServerId}/storage"
@using DockerGameServer.Components.Pages.Components
@attribute [Authorize]

@if (!Loading && gameServer == null)
{
    <NotFound />
}
else if (gameServer != null)
{
    <div class="container mt-4">
        <ServerNavigation ServerId="@ServerId">
            <div class="main-card-body">
                <div class="row justify-content-end align-items-center g-3">
                    <div class="col-12">
                        <h2 class="text-nowrap m-0">Server Storage</h2>
                    </div>
                    <div class="col-12">
                        <FolderView ServerId="@_serverId" />
                    </div>
                </div>
            </div>
        </ServerNavigation>
    </div>
}

@code {
    [Inject] public GameServerService GameServerService { get; set; } = default!;
    [Inject] public UserContext UserContext { get; set; } = default!;

    [Parameter] public string ServerId { get; set; } = default!;

    private ListGameServer? gameServer { get; set; }
    private bool Loading = true;
    private Guid _serverId => Guid.Parse(ServerId);

    protected override async Task OnInitializedAsync()
    {
        var userId = UserContext.GetSignedInUser()!.Id;
        if (Guid.TryParse(ServerId, out var serverId))
        {
            gameServer = await GameServerService.GetByIdAsync(userId, serverId);
        }
        Loading = false;
    }
}
