@page "/register"

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #242424;">
    <div class="register-form">
        <EditForm Model="model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <p class="register-title">Register</p>
            <p class="register-message">Signup now and get full access to our app.</p>

            <div class="field-wrap">
                <InputText class="field-input" placeholder=" " @bind-Value="model.FullName" />
                <span>Fullname</span>
                <ValidationMessage For="@(() => model.FullName)" />
            </div>

            <div class="field-wrap">
                <InputText class="field-input" placeholder=" " @bind-Value="model.Email" />
                <span>Email</span>
                <ValidationMessage For="@(() => model.Email)" />
            </div>

            <div class="field-wrap">
                <InputText class="field-input" type="password" placeholder=" " @bind-Value="model.Password" />
                <span>Password</span>
                <ValidationMessage For="@(() => model.Password)" />
            </div>

            <div class="field-wrap">
                <InputText class="field-input" type="password" placeholder=" " @bind-Value="model.ConfirmPassword" />
                <span>Confirm password</span>
                <ValidationMessage For="@(() => model.ConfirmPassword)" />
            </div>

            <button type="submit" class="register-submit w-100">Submit</button>
            <p class="register-signin">Already have an account? <a href="#">Sign in</a></p>
        </EditForm>
    </div>
</div>

@code {
    [Inject] private UserService userService { get; set; } = default!;
    private RegisterModel model = new();

    private async Task OnValidSubmit()
    {
        await userService.CreateAsync(model);
    }
}
