@page "/servers/new"
@inject NavigationManager NavigationManager

<div class="game-select-container">
    <div class="game-card game-minecraft" @onclick='() => NavigationManager.NavigateTo("/servers/new/minecraft")'>
        <img src="images/games/minecraft_tile.jpg" class="game-card-img" />
    </div>


    <!--
    <div class="game-card game-cs2">
        <img src="images/games/cs2_tile.jpg" class="game-card-img" />
    </div>
    -->
</div>

@code {

}
